/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --backgroundColor: #23262e;
  --sidebarColor: #fff8dc;
  --mainColor: #203a4d;
  --darkTextColor: #8b4513;
  --svgIconColor: #8b4513;
  --whiteTextColor: #d3d3d3;
  --ratio: 3.74;
  --leading: 0.025em;
}
body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

.container {
  display: grid;
  grid-template-columns: 300px 1fr 250px;
  grid-template-rows: auto 1fr;
  min-height: 100vh;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / -1; /* -1 makes sure it spans whole vertical screen */
  background-color: var(--sidebarColor);
  padding: 20px;
  color: var(--darkTextColor);
}

.sidebarContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  background-color: var(--mainColor);
  min-height: 100vh;
  color: var(--whiteTextColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.addBook {
  background-color: var(--mainColor);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.buttonContainer {
  padding: 2rem;
}

#bookList {
  color: var(--whiteTextColor);
}

.buttonContainer {
  margin-top: 30rem;
}

#showDialog {
  font-size: 1.2rem;
  text-transform: uppercase;
  position: relative;
  letter-spacing: calc(3 * var(--leading, 0.025em));
  border: 0.1875em solid;
  padding: 0.8em;
  color: var(--whiteTextColor);
  background: transparent;
  border-radius: 0.5rem;
  transition: background 0.3s, color 0.3s;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#showDialog:hover,
#showDialog:focus {
  background-color: var(--svgIconColor);
  color: white;
  background: var(--svgIconColor);
  border-color: var(--svgIconColor);
}

#showDialog:active {
  top: 0.08em;
}

.svg-icon {
  flex-shrink: 0;
  height: 1.5em;
  width: 1.5em;
  margin-right: 0.5em;
}

.svg-icon path,
.svg-icon polygon {
  transition: fill 0.3s;
}

.visually-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
}

dialog {
  border: none !important;
  border-radius: calc(5px * var(--ratio));
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  padding: 1.6rem;
  max-width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
