/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

:root {
  --backgroundColor: #23262e;
  --sidebarColor: #fff8dc;
  --textColor: #ffffff;
  --ratio: 3.74;
  --leading: 0.025em;
}
body {
  background-color: var(--backgroundColor);
  color: var(--textColor);
}

/* main {
  width: 700px;
  max-width: 100vw;
  margin: 0 auto;
  padding: 0 2rem;
} */
.container {
  display: grid;
  grid-template-columns: 300px 1fr 250px;
  grid-template-rows: auto 1fr;
  min-width: 100vh;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / -1; /* -1 makes sure it spans whole vertical screen */
  background-color: var(--sidebarColor);
  padding: 20px;
}

#showDialog {
  display: block;
  margin-top: 2rem;
  width: calc(44px * var(--ratio));
  height: 44px;
  border-radius: calc(3px * var(--ratio));
  border: none;
  letter-spacing: calc(3 * var(--leading, 0.025em));
}

dialog {
  border: none !important;
  border-radius: calc(5px * var(--ratio));
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  padding: 1.6rem;
  max-width: 400px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
/* 
#form1 {
  display: none;
}
 */
